/AsteroidsLibGDX/target/
/AsteroidsEntityFramework/EntityFactory/target/
/NetbeansModul1/SilentUpdate/target/
/NetbeansModul1 - Kopie/OSGiExtension/target/
/NetbeansModul1 - Kopie/OSGiPlayer/target/
/NetbeansModul1 - Kopie/OSGiCommon/target/
/NetbeansModul1 - Kopie/OSGiLibGDX/target/
/NetbeansModul1 - Kopie/OSGiCommonBullet/target/
/NetbeansModul1 - Kopie/OSGiEnemy/target/
/NetbeansModul1 - Kopie/OSGiCore/target/
/AsteroidsOSGi/OSGiCommon/target/
/AsteroidsOSGi/OSGiCore/target/
/AsteroidsOSGi/OSGiCommonBullet/target/
/AsteroidsOSGi/OSGiCommonAsteroids/target/